* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Rubik";
}

:root {
  --primary-color-green: #9ac837;
  --primary-color-orange: #f7961d;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-link:hover {
  color: var(--primary-color-orange) !important;
}

.nav-item {
  padding: 0px 15px;
}

.active a{
  color: var(--primary-color-orange)!important;
}

#contact-us {
  padding: 1.5% 10%;
}

h1{
  font-weight: bold;
}

h1,
label {
  color: var(--primary-color-orange);
}

input,
textarea {
  width: 100%;
  border-radius: 15px;
  border: 1px solid;
  padding: 0 10px;
}

input:focus,
textarea:focus {
  border: 2px solid var(--primary-color-orange);
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
  padding: 10px;
  height: 96px;
}

#img-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 80%;
}

button {
  background-color: var(--primary-color-orange);
  border: none;
  border-radius: 15px;
  color: white;
  padding: 5px 20px;
}

p{
  text-align: center;
  color: var(--primary-color-orange);
}

.contact-via{
  text-align: center;
}

.contact-via dd{
  display: inline-block;
  padding: 0 20px;
}

.contact-via dd a{
  color: gray;
}

.contact-via dd a:hover{
  color: var(--primary-color-orange);
  text-decoration: none;
}

/* --Footer--- */
footer img {
  width: 60%;
}

footer {
  padding: 3% 10% !important;
  background-color: #737373;
}

footer h3 {
  color: white;
  font-weight: bold;
}

footer a {
  color: white;
  text-decoration: none!important;
}

footer a:hover {
  color: var(--primary-color-orange);
}
/* ---End of Footer--- */

/* Media Quaries */
@media screen and (max-width:991px){
  #img-col{
    display: none;
  }
  p{
    margin-top: 10px;
  }
  footer {
    text-align: center;
  }
}

@media screen and (max-width: 768px){
  footer img {
    display: none;
  }
}

@media screen and (max-width: 540px){
  h1{
    font-size: 2rem;
  }
}