* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Rubik";
}

:root {
  --primary-color-green: #9ac837;
  --primary-color-orange: #f7961d;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-link:hover {
  color: var(--primary-color-orange) !important;
}

.nav-item {
  padding: 0px 15px;
}

.active a{
    color: var(--primary-color-orange)!important;
}

h1 {
  font-size: 2.5rem;
  color: var(--primary-color-orange);
  font-weight: bold;
}

.wp {
  padding: 1% 6%;
}

.row {
  margin-bottom: 30px;
  margin-top: 20px;
}

.img-col img {
  width: 90%;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.desc, .img-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.content {
  font-size: 18px;
}

#personality{
    color:var(--primary-color-orange);
    font-weight: bold;
}

#contact {
  background-color: var(--primary-color-orange);
  border: none;
  border-radius: 15px;
  padding: 8px 20px;
  color: white;
  font-size: 1rem;
}

/* --Footer--- */
footer img {
  width: 60%;
}

footer {
  padding: 3% 10% !important;
  background-color: #737373;
}

footer h3 {
  color: white;
  font-weight: bold;
}

footer a {
  color: white;
  text-decoration: none !important;
}

footer a:hover {
  color: var(--primary-color-orange);
}
/* ---End of Footer--- */

/* Media Quaries */
@media screen and (max-width: 991px) {
  footer {
    text-align: center;
  }
  .img-col {
    margin-bottom: 20px;
  }
  .img-col img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  footer img {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  #contact{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }
}
